In [224]:
import re 
import datetime
from datetime import datetime

def getage(field_date, dob):
    years = field_date.year - dob.year
    months = field_date.month - dob.month
    if field_date.day < dob.day:
        months -= 1
    if months < 0:
        months += 12
        years -= 1
    return '%sy%smo'% (years, months)

In [225]:
def getage(now, dob):
    years = now.year - dob.year
    months = now.month - dob.month
    if now.day < dob.day:
        months -= 1
        while months < 0:
            months += 12
            years -= 1
    total_months = years * 12 + months
    return total_months

In [226]:
datetime.now()

datetime.datetime(2020, 2, 17, 11, 32, 36, 440614)

In [227]:
datetime(2017, 1, 5)

datetime.datetime(2017, 1, 5, 0, 0)

In [228]:
getage(datetime(2020, 2, 15), datetime(2019, 2, 15))

12

In [229]:
# [2017, 1, 5].year()

In [230]:
import pandas as pd

In [251]:
child_dob = pd.read_excel('child_dobs master.xlsx')

In [252]:
child_dob

,child_id,Child ID,Child Birthday (Y/M/D),agechild_prelim,VS2FieldDate,VS3FieldDate,VS4FieldDate,VS3childage,VS2childage
0,250,250.0,2014 5 5,1.100979,2001 1 1,2001 1 1,2001 1 1,NaN,NaN
1,256,256.0,2013 6 29,1.402436,2015 9 12,2001 1 1,2001 1 1,4.254620,NaN
2,262,262.0,2013 10 19,1.235873,2015 10 12,2016 4 8,2016 10 14,3.947981,2.469541
3,264,264.0,2014 2 8,1.110458,2015 10 12,2016 3 30,2016 10 28,3.641342,2.138261
4,266,266.0,2013 10 30,1.108405,2015 7 7,2016 1 20,2016 7 12,3.917864,2.223135
5,268,268.0,2013 10 18,1.200127,2015 11 10,2016 4 26,2016 10 20,3.950719,2.521561
6,272,272.0,2014 6 25,1.086051,2015 12 15,2016 6 8,2016 11 23,3.266256,1.954825
7,289,289.0,2013 10 20,1.246400,2015 8 18,2016 3 4,2016 9 2,3.945243,2.370979
8,293,293.0,2013 8 31,1.383546,2015 8 20,2016 3 22,2016 8 17,4.082136,2.557153
9,297,297.0,2014 1 25,1.089183,2016 3 11,2016 10 5,2017 2 10,3.679671,2.694045
10,304,304.0,2013 11 28,1.177866,2015 8 23,2016 2 20,2016 8 20,3.838467,2.228611
11,306,306.0,2014 5 22,1.097033,2001 1 1,2001 1 1,2001 1 1,NaN,NaN
12,314,314.0,2013 12 7,1.138429,2015 7 24,2016 2 9,2016 7 20,3.813826,2.173854
13,320,320.0,2014 1 20,1.085378,2001 1 1,2001 1 1,2001 1 1,NaN,NaN
14,335,335.0,2013 11 9,1.283315,2015 10 17,2016 5 28,2016 12 3,3.890486,2.548939
15,337,337.0,2014 2 7,1.094719,2015 9 28,2016 4 8,2016 10 3,3.644079,2.165640
16,339,339.0,2014 2 25,1.099633,2015 11 13,2016 5 27,2016 11 23,3.594798,2.250513
17,353,353.0,2013 10 29,1.399523,2016 1 28,2016 8 23,2017 2 9,3.920602,2.817248
18,368,368.0,2014 1 4,1.236004,2001 1 1,2001 1 1,2001 1 1,NaN,NaN
19,371,371.0,2014 5 4,1.086132,2001 1 1,2001 1 1,2001 1 1,NaN,NaN
20,373,373.0,2014 4 29,1.086202,2016 1 11,2016 8 9,2017 1 25,3.422313,2.280630
21,375,375.0,2014 10 18,1.100503,2001 1 1,2001 1 1,2001 1 1,NaN,NaN
22,381,381.0,2013 11 15,1.380006,2016 8 1,2001 1 1,2001 1 1,3.874059,NaN
23,409,409.0,2014 3 4,1.119217,2015 12 21,2016 6 30,2017 1 4,3.575633,2.324435
24,413,413.0,2013 11 22,1.422643,2016 4 1,2016 9 27,2017 3 31,3.854894,2.847365
25,438,438.0,2013 12 15,1.394445,2016 2 6,2016 10 19,2017 3 17,3.791923,2.844627
26,440,440.0,2014 2 20,1.213862,2016 4 1,2016 10 14,2017 4 7,3.608487,2.647502
27,454,454.0,2014 1 1,1.410192,2015 12 2,2016 7 5,2017 1 4,3.745380,2.507871
28,460,460.0,2014 2 27,1.259158,2015 12 31,2016 12 7,2017 5 3,3.589322,2.776181
29,462,462.0,2014 2 3,1.334947,2016 5 5,2016 10 11,2017 2 15,3.655031,2.685832
...,...,...,...,...,...,...,...,...,...
176,2134,2151.0,2015 11 28,1.427853,2017 11 30,2018 6 23,2008 12 1,2.327173,2.568104
177,2136,2153.0,2016 6 3,1.108393,2018 2 23,2018 8 2,2019 2 2,1.812457,2.162902
178,2151,2157.0,2015 12 30,1.363582,2018 6 12,2018 12 13,2019 5 29,2.450376,2.954141
179,2153,2177.0,2015 12 21,1.385841,2018 1 26,2018 8 23,2019 1 28,2.266940,2.672142
180,2157,2185.0,2016 6 26,1.094225,2001 1 1,2001 1 1,2001 1 1,NaN,NaN
181,2177,2191.0,2015 12 27,1.396613,2018 2 23,2018 8 8,2019 2 21,2.250513,2.614648
182,2185,2194.0,2016 2 4,1.358783,2017 11 21,2018 4 24,2018 11 6,2.143737,2.217659
183,2191,2199.0,2016 8 9,1.218450,2018 6 30,2019 2 13,2019 6 25,1.889117,2.513347
184,2194,2204.0,2016 8 29,1.113856,2018 6 25,2018 12 10,2019 5 24,1.820671,2.280630
185,2199,2206.0,2016 6 26,1.130193,2001 1 1,2001 1 1,2001 1 1,NaN,NaN
186,2204,2211.0,2016 4 26,1.172670,2018 3 30,2018 9 5,2019 2 28,2.006845,2.360027
187,2206,2215.0,2016 5 14,1.130053,2018 4 3,2018 8 13,2019 4 10,1.963039,2.247775
188,2211,2219.0,2016 9 25,1.086374,2018 4 3,2018 10 17,2019 4 25,1.675565,2.058864
189,2215,2228.0,2016 5 24,1.129818,2018 1 24,2018 7 5,2018 12 21,1.842574,2.113621
190,2219,2234.0,2016 8 16,1.097225,2018 6 30,2019 2 5,2019 7 13,1.869952,2.472279
191,2228,2244.0,2016 4 26,1.249062,2018 5 2,2018 10 19,2019 4 17,2.015058,2.480493
192,2234,2250.0,2016 7 5,1.102455,2018 6 27,2019 3 6,2019 7 30,1.976728,2.666667
193,2244,2252.0,2016 3 11,1.396905,2018 4 25,2019 1 3,2019 6 19,2.138261,2.814511
194,2250,2256.0,2016 7 30,1.149738,2018 7 6,2018 12 19,2019 7 3,1.932923,2.387406
195,2252,2269.0,2016 7 28,1.108450,2018 3 12,2018 8 10,2019 1 29,1.678303,2.034223
196,2256,2274.0,2016 6 11,1.169431,2018 2 22,2018 8 10,2019 2 8,1.809719,2.162902
197,2269,2288.0,2016 5 17,1.283015,2018 4 26,2018 10 19,2019 4 2,1.954825,2.422998
198,2274,2290.0,2016 8 25,1.175274,2018 5 9,2018 10 12,2019 4 18,1.702943,2.130048
199,2288,2292.0,2016 9 12,1.110736,2001 1 1,2001 1 1,2001 1 1,NaN,NaN
200,2290,2306.0,2016 7 27,1.166298,2001 1 1,2001 1 1,2001 1 1,NaN,NaN
201,2292,2322.0,2016 6 18,1.274801,2018 6 22,2018 12 11,2019 6 4,2.009582,2.480493
202,2306,2333.0,2016 8 24,1.116693,2001 1 1,2018 12 8,2019 5 25,NaN,2.288843
203,2322,2335.0,2016 5 26,1.422223,2018 6 30,2018 12 20,2019 6 18,2.094456,2.568104
204,2333,NaN,2016 6 14,1.382848,2018 5 29,2018 12 28,2019 5 8,1.954825,2.537988
205,2335,NaN,2016 9 27,1.097038,2018 6 28,2019 1 6,2019 7 16,1.749487,2.275154

In [253]:
child_dob['child_dob'] = child_dob['Child Birthday (Y/M/D)'].map(lambda x: datetime.strptime(', '.join(x.split()), '%Y, %m, %d'))

In [256]:
child_dob['VS4FieldDate'] = child_dob['VS4FieldDate'].astype(str).map(lambda x:  datetime.strptime(', '.join(x.split()), '%Y, %m, %d'))

In [259]:
child_dob['VS4_child_age_months'] = child_dob.apply(lambda x: getage(x['VS4FieldDate'], x['child_dob']), axis =1)

In [260]:
child_dob

,child_id,Child ID,Child Birthday (Y/M/D),agechild_prelim,VS2FieldDate,VS3FieldDate,VS4FieldDate,VS3childage,VS2childage,child_dob,VS2_child_age_months,VS3_child_age_months,VS4_child_age_months
0,250,250.0,2014 5 5,1.100979,2001-01-01,2001-01-01,2001-01-01,NaN,NaN,2014-05-05,-161,-161,-161
1,256,256.0,2013 6 29,1.402436,2015-09-12,2001-01-01,2001-01-01,4.254620,NaN,2013-06-29,26,-150,-150
2,262,262.0,2013 10 19,1.235873,2015-10-12,2016-04-08,2016-10-14,3.947981,2.469541,2013-10-19,23,29,35
3,264,264.0,2014 2 8,1.110458,2015-10-12,2016-03-30,2016-10-28,3.641342,2.138261,2014-02-08,20,25,32
4,266,266.0,2013 10 30,1.108405,2015-07-07,2016-01-20,2016-07-12,3.917864,2.223135,2013-10-30,20,26,32
5,268,268.0,2013 10 18,1.200127,2015-11-10,2016-04-26,2016-10-20,3.950719,2.521561,2013-10-18,24,30,36
6,272,272.0,2014 6 25,1.086051,2015-12-15,2016-06-08,2016-11-23,3.266256,1.954825,2014-06-25,17,23,28
7,289,289.0,2013 10 20,1.246400,2015-08-18,2016-03-04,2016-09-02,3.945243,2.370979,2013-10-20,21,28,34
8,293,293.0,2013 8 31,1.383546,2015-08-20,2016-03-22,2016-08-17,4.082136,2.557153,2013-08-31,23,30,35
9,297,297.0,2014 1 25,1.089183,2016-03-11,2016-10-05,2017-02-10,3.679671,2.694045,2014-01-25,25,32,36
10,304,304.0,2013 11 28,1.177866,2015-08-23,2016-02-20,2016-08-20,3.838467,2.228611,2013-11-28,20,26,32
11,306,306.0,2014 5 22,1.097033,2001-01-01,2001-01-01,2001-01-01,NaN,NaN,2014-05-22,-161,-161,-161
12,314,314.0,2013 12 7,1.138429,2015-07-24,2016-02-09,2016-07-20,3.813826,2.173854,2013-12-07,19,26,31
13,320,320.0,2014 1 20,1.085378,2001-01-01,2001-01-01,2001-01-01,NaN,NaN,2014-01-20,-157,-157,-157
14,335,335.0,2013 11 9,1.283315,2015-10-17,2016-05-28,2016-12-03,3.890486,2.548939,2013-11-09,23,30,36
15,337,337.0,2014 2 7,1.094719,2015-09-28,2016-04-08,2016-10-03,3.644079,2.165640,2014-02-07,19,26,31
16,339,339.0,2014 2 25,1.099633,2015-11-13,2016-05-27,2016-11-23,3.594798,2.250513,2014-02-25,20,27,32
17,353,353.0,2013 10 29,1.399523,2016-01-28,2016-08-23,2017-02-09,3.920602,2.817248,2013-10-29,26,33,39
18,368,368.0,2014 1 4,1.236004,2001-01-01,2001-01-01,2001-01-01,NaN,NaN,2014-01-04,-157,-157,-157
19,371,371.0,2014 5 4,1.086132,2001-01-01,2001-01-01,2001-01-01,NaN,NaN,2014-05-04,-161,-161,-161
20,373,373.0,2014 4 29,1.086202,2016-01-11,2016-08-09,2017-01-25,3.422313,2.280630,2014-04-29,20,27,32
21,375,375.0,2014 10 18,1.100503,2001-01-01,2001-01-01,2001-01-01,NaN,NaN,2014-10-18,-166,-166,-166
22,381,381.0,2013 11 15,1.380006,2016-08-01,2001-01-01,2001-01-01,3.874059,NaN,2013-11-15,32,-155,-155
23,409,409.0,2014 3 4,1.119217,2015-12-21,2016-06-30,2017-01-04,3.575633,2.324435,2014-03-04,21,27,34
24,413,413.0,2013 11 22,1.422643,2016-04-01,2016-09-27,2017-03-31,3.854894,2.847365,2013-11-22,28,34,40
25,438,438.0,2013 12 15,1.394445,2016-02-06,2016-10-19,2017-03-17,3.791923,2.844627,2013-12-15,25,34,39
26,440,440.0,2014 2 20,1.213862,2016-04-01,2016-10-14,2017-04-07,3.608487,2.647502,2014-02-20,25,31,37
27,454,454.0,2014 1 1,1.410192,2015-12-02,2016-07-05,2017-01-04,3.745380,2.507871,2014-01-01,23,30,36
28,460,460.0,2014 2 27,1.259158,2015-12-31,2016-12-07,2017-05-03,3.589322,2.776181,2014-02-27,22,33,38
29,462,462.0,2014 2 3,1.334947,2016-05-05,2016-10-11,2017-02-15,3.655031,2.685832,2014-02-03,27,32,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,2134,2151.0,2015 11 28,1.427853,2017-11-30,2018-06-23,2008-12-01,2.327173,2.568104,2015-11-28,24,30,-84
177,2136,2153.0,2016 6 3,1.108393,2018-02-23,2018-08-02,2019-02-02,1.812457,2.162902,2016-06-03,20,25,31
178,2151,2157.0,2015 12 30,1.363582,2018-06-12,2018-12-13,2019-05-29,2.450376,2.954141,2015-12-30,29,35,40
179,2153,2177.0,2015 12 21,1.385841,2018-01-26,2018-08-23,2019-01-28,2.266940,2.672142,2015-12-21,25,32,37
180,2157,2185.0,2016 6 26,1.094225,2001-01-01,2001-01-01,2001-01-01,NaN,NaN,2016-06-26,-186,-186,-186
181,2177,2191.0,2015 12 27,1.396613,2018-02-23,2018-08-08,2019-02-21,2.250513,2.614648,2015-12-27,25,31,37
182,2185,2194.0,2016 2 4,1.358783,2017-11-21,2018-04-24,2018-11-06,2.143737,2.217659,2016-02-04,21,26,33
183,2191,2199.0,2016 8 9,1.218450,2018-06-30,2019-02-13,2019-06-25,1.889117,2.513347,2016-08-09,22,30,34
184,2194,2204.0,2016 8 29,1.113856,2018-06-25,2018-12-10,2019-05-24,1.820671,2.280630,2016-08-29,21,27,32
185,2199,2206.0,2016 6 26,1.130193,2001-01-01,2001-01-01,2001-01-01,NaN,NaN,2016-06-26,-186,-186,-186
186,2204,2211.0,2016 4 26,1.172670,2018-03-30,2018-09-05,2019-02-28,2.006845,2.360027,2016-04-26,23,28,34
187,2206,2215.0,2016 5 14,1.130053,2018-04-03,2018-08-13,2019-04-10,1.963039,2.247775,2016-05-14,22,26,34
188,2211,2219.0,2016 9 25,1.086374,2018-04-03,2018-10-17,2019-04-25,1.675565,2.058864,2016-09-25,18,24,31
189,2215,2228.0,2016 5 24,1.129818,2018-01-24,2018-07-05,2018-12-21,1.842574,2.113621,2016-05-24,20,25,30
190,2219,2234.0,2016 8 16,1.097225,2018-06-30,2019-02-05,2019-07-13,1.869952,2.472279,2016-08-16,22,29,34
191,2228,2244.0,2016 4 26,1.249062,2018-05-02,2018-10-19,2019-04-17,2.015058,2.480493,2016-04-26,24,29,35
192,2234,2250.0,2016 7 5,1.102455,2018-06-27,2019-03-06,2019-07-30,1.976728,2.666667,2016-07-05,23,32,36
193,2244,2252.0,2016 3 11,1.396905,2018-04-25,2019-01-03,2019-06-19,2.138261,2.814511,2016-03-11,25,33,39
194,2250,2256.0,2016 7 30,1.149738,2018-07-06,2018-12-19,2019-07-03,1.932923,2.387406,2016-07-30,23,28,35
195,2252,2269.0,2016 7 28,1.108450,2018-03-12,2018-08-10,2019-01-29,1.678303,2.034223,2016-07-28,19,24,30
196,2256,2274.0,2016 6 11,1.169431,2018-02-22,2018-08-10,2019-02-08,1.809719,2.162902,2016-06-11,20,25,31
197,2269,2288.0,2016 5 17,1.283015,2018-04-26,2018-10-19,2019-04-02,1.954825,2.422998,2016-05-17,23,29,34
198,2274,2290.0,2016 8 25,1.175274,2018-05-09,2018-10-12,2019-04-18,1.702943,2.130048,2016-08-25,20,25,31
199,2288,2292.0,2016 9 12,1.110736,2001-01-01,2001-01-01,2001-01-01,NaN,NaN,2016-09-12,-189,-189,-189
200,2290,2306.0,2016 7 27,1.166298,2001-01-01,2001-01-01,2001-01-01,NaN,NaN,2016-07-27,-187,-187,-187
201,2292,2322.0,2016 6 18,1.274801,2018-06-22,2018-12-11,2019-06-04,2.009582,2.480493,2016-06-18,24,29,35
202,2306,2333.0,2016 8 24,1.116693,2001-01-01,2018-12-08,2019-05-25,NaN,2.288843,2016-08-24,-188,27,33
203,2322,2335.0,2016 5 26,1.422223,2018-06-30,2018-12-20,2019-06-18,2.094456,2.568104,2016-05-26,25,30,36
204,2333,NaN,2016 6 14,1.382848,2018-05-29,2018-12-28,2019-05-08,1.954825,2.537988,2016-06-14,23,30,34
205,2335,NaN,2016 9 27,1.097038,2018-06-28,2019-01-06,2019-07-16,1.749487,2.275154,2016-09-27,21,27,33

In [109]:
', '.join(child_dob['Child Birthday (Y/M/D)'][0].split())

'2014, 5, 5'

In [117]:
datetime.strptime(', '.join(child_dob['Child Birthday (Y/M/D)'][0].split()), '%Y, %m, %d')

datetime.datetime(2014, 5, 5, 0, 0)

In [152]:
getage(child_dob['VS4FieldDate'][7], child_dob['child_dob'][7])

34

In [128]:
188/12

15.666666666666666

In [172]:
child_dob.to_csv('VS_child_dob_field_age.csv')

In [218]:
def date_changer(x):
    if x < 0:
        return 999
    else:
        return x

In [263]:
child_dob['VS4_child_age_months'] = child_dob['VS4_child_age_months'].map(lambda x: date_changer(x))

In [264]:
child_dob.to_csv('TMW_L_child_age_VS_217_1.csv')

In [288]:
df=pd.read_csv('TMW_L_child_age_VS_218.csv')

In [290]:
df['Child Birthday (Y/M/D)'] = df['Child Birthday (Y/M/D)'].astype(str).map(lambda x:  datetime.strptime(', '.join(x.split()), '%Y, %m, %d'))

In [291]:
df['prelim_child_age_months'] = df.apply(lambda x: getage(x['Video 1'], x['Child Birthday (Y/M/D)']), axis =1)

In [297]:
df.to_csv('TMW_L_child_age_VS_218_2.csv')

In [296]:
df

,Unnamed: 0,child_id,Child ID,Child Birthday (Y/M/D),Video 1,agechild_prelim,VS2FieldDate,VS3FieldDate,VS4FieldDate,VS3childage,VS2childage,child_dob,VS2_child_age_months,VS3_child_age_months,VS4_child_age_months,prelim_child_age_months
0,0,250,250.0,2014-05-05,2015-07-08,1.100979,2001 1 1,1/1/2001,1/1/2001,NaN,NaN,5/5/2014,999,999,999,14
1,1,256,256.0,2013-06-29,2014-12-17,1.402436,2015 9 12,1/1/2001,1/1/2001,4.254620,NaN,6/29/2013,26,999,999,17
2,2,262,262.0,2013-10-19,2015-01-05,1.235873,2015 10 12,4/8/2016,10/14/2016,3.947981,2.469541,10/19/2013,23,29,35,14
3,3,264,264.0,2014-02-08,2015-04-27,1.110458,2015 10 12,3/30/2016,10/28/2016,3.641342,2.138261,2/8/2014,20,25,32,14
4,4,266,266.0,2013-10-30,2015-01-05,1.108405,2017 7 7,1/20/2016,7/12/2016,3.917864,2.223135,10/30/2013,20,26,32,14
5,5,268,268.0,2013-10-18,2015-01-29,1.200127,2015 11 10,4/26/2016,10/20/2016,3.950719,2.521561,10/18/2013,24,30,36,15
6,6,272,272.0,2014-06-25,2015-08-05,1.086051,2015 12 15,6/8/2016,11/23/2016,3.266256,1.954825,6/25/2014,17,23,28,13
7,7,289,289.0,2013-10-20,2015-02-12,1.246400,2015 8 18,3/4/2016,9/2/2016,3.945243,2.370979,10/20/2013,21,28,34,15
8,8,293,293.0,2013-08-31,2015-02-06,1.383546,2015 8 20,3/22/2016,8/17/2016,4.082136,2.557153,8/31/2013,23,30,35,17
9,9,297,297.0,2014-01-25,2015-03-19,1.089183,2016 3 11,10/5/2016,2/10/2017,3.679671,2.694045,1/25/2014,25,32,36,13
10,10,304,304.0,2013-11-28,2015-02-15,1.177866,2015 8 23,2/20/2016,8/20/2016,3.838467,2.228611,11/28/2013,20,26,32,14
11,11,306,306.0,2014-05-22,2015-07-10,1.097033,2001 1 1,1/1/2001,1/1/2001,NaN,NaN,5/22/2014,999,999,999,13
12,12,314,314.0,2013-12-07,2015-02-10,1.138429,2015 7 24,2/9/2016,7/20/2016,3.813826,2.173854,12/7/2013,19,26,31,14
13,13,320,320.0,2014-01-20,2015-03-05,1.085378,2001 1 1,1/1/2001,1/1/2001,NaN,NaN,1/20/2014,999,999,999,13
14,14,335,335.0,2013-11-09,2015-04-11,1.283315,2015 10 17,5/28/2016,12/3/2016,3.890486,2.548939,11/9/2013,23,30,36,17
15,15,337,337.0,2014-02-07,2015-03-31,1.094719,2015 9 28,4/8/2016,10/3/2016,3.644079,2.165640,2/7/2014,19,26,31,13
16,16,339,339.0,2014-02-25,2015-04-21,1.099633,2015 11 13,5/27/2016,11/23/2016,3.594798,2.250513,2/25/2014,20,27,32,13
17,17,353,353.0,2013-10-29,2015-04-16,1.399523,2016 1 28,8/23/2016,2/9/2017,3.920602,2.817248,10/29/2013,26,33,39,17
18,18,368,368.0,2014-01-04,2015-04-18,1.236004,2001 1 1,1/1/2001,1/1/2001,NaN,NaN,1/4/2014,999,999,999,15
19,19,371,371.0,2014-05-04,2015-06-23,1.086132,2001 1 1,1/1/2001,1/1/2001,NaN,NaN,5/4/2014,999,999,999,13
20,20,373,373.0,2014-04-29,2015-06-16,1.086202,2016 1 11,8/9/2016,1/25/2017,3.422313,2.280630,4/29/2014,20,27,32,13
21,21,375,375.0,2014-10-18,2015-12-17,1.100503,2001 1 1,1/1/2001,1/1/2001,NaN,NaN,10/18/2014,999,999,999,13
22,22,381,381.0,2013-11-15,2015-05-06,1.380006,2016 8 1,1/1/2001,1/1/2001,3.874059,NaN,11/15/2013,32,999,999,17
23,23,409,409.0,2014-03-04,2015-04-24,1.119217,2015 12 21,6/30/2016,1/4/2017,3.575633,2.324435,3/4/2014,21,27,34,13
24,24,413,413.0,2013-11-22,2015-05-21,1.422643,2016 4 1,9/27/2016,3/31/2017,3.854894,2.847365,11/22/2013,28,34,40,17
25,25,438,438.0,2013-12-15,2015-06-02,1.394445,2016 2 6,10/19/2016,3/17/2017,3.791923,2.844627,12/15/2013,25,34,39,17
26,26,440,440.0,2014-02-20,2015-06-11,1.213862,2016 4 1,10/14/2016,4/7/2017,3.608487,2.647502,2/20/2014,25,31,37,15
27,27,454,454.0,2014-01-01,2016-06-03,1.410192,2015 12 2,7/5/2016,1/4/2017,3.745380,2.507871,1/1/2014,23,30,36,29
28,28,460,460.0,2014-02-27,2015-06-17,1.259158,2015 12 31,12/7/2016,5/3/2017,3.589322,2.776181,2/27/2014,22,33,38,15
29,29,462,462.0,2014-02-03,2015-06-23,1.334947,2016 5 5,10/11/2016,2/15/2017,3.655031,2.685832,2/3/2014,27,32,36,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,176,2134,2151.0,2015-11-28,2017-05-24,1.427853,2017 11 30,6/23/2018,12/1/2008,2.327173,2.568104,11/28/2015,24,30,999,17
177,177,2136,2153.0,2016-06-03,2015-08-15,1.108393,2018 2 23,8/2/2018,2/2/2019,1.812457,2.162902,6/3/2016,20,25,31,-10
178,178,2151,2157.0,2015-12-30,2017-05-29,1.363582,2018 6 12,12/13/2018,5/29/2019,2.450376,2.954141,12/30/2015,29,35,40,16
179,179,2153,2177.0,2015-12-21,2017-06-06,1.385841,2018 1 26,8/23/2018,1/28/2019,2.266940,2.672142,12/21/2015,25,32,37,17
180,180,2157,2185.0,2016-06-26,2017-08-24,1.094225,2001 1 1,1/1/2001,1/1/2001,NaN,NaN,6/26/2016,999,999,999,13
181,181,2177,2191.0,2015-12-27,2017-06-07,1.396613,2018 2 23,8/8/2018,2/21/2019,2.250513,2.614648,12/27/2015,25,31,37,17
182,182,2185,2194.0,2016-02-04,2017-06-02,1.358783,2017 11 21,4/24/2018,11/6/2018,2.143737,2.217659,2/4/2016,21,26,33,15
183,183,2191,2199.0,2016-08-09,2017-11-07,1.218450,2018 6 30,2/13/2019,6/25/2019,1.889117,2.513347,8/9/2016,22,30,34,14
184,184,2194,2204.0,2016-08-29,2017-11-06,1.113856,2018 6 25,12/10/2018,5/24/2019,1.820671,2.280630,8/29/2016,21,27,32,14
185,185,2199,2206.0,2016-06-26,2017-08-21,1.130193,2001 1 1,1/1/2001,1/1/2001,NaN,NaN,6/26/2016,999,999,999,13
186,186,2204,2211.0,2016-04-26,2017-08-21,1.172670,2018 3 30,9/5/2018,2/28/2019,2.006845,2.360027,4/26/2016,23,28,34,15
187,187,2206,2215.0,2016-05-14,2017-08-15,1.130053,2018 4 3,8/13/2018,4/10/2019,1.963039,2.247775,5/14/2016,22,26,34,15
188,188,2211,2219.0,2016-09-25,2017-11-17,1.086374,2018 4 3,10/17/2018,4/25/2019,1.675565,2.058864,9/25/2016,18,24,31,13
189,189,2215,2228.0,2016-05-24,2017-07-26,1.129818,2018 1 24,7/5/2018,12/21/2018,1.842574,2.113621,5/24/2016,20,25,30,14
190,190,2219,2234.0,2016-08-16,2017-10-05,1.097225,2018 6 30,2/5/2019,7/13/2019,1.869952,2.472279,8/16/2016,22,29,34,13
191,191,2228,2244.0,2016-04-26,2017-08-30,1.249062,2018 5 2,10/19/2018,4/17/2019,2.015058,2.480493,4/26/2016,24,29,35,16
192,192,2234,2250.0,2016-07-05,2017-09-20,1.102455,2018 6 27,3/6/2019,7/30/2019,1.976728,2.666667,7/5/2016,23,32,36,14
193,193,2244,2252.0,2016-03-11,2017-08-18,1.396905,2018 4 25,1/3/2019,6/19/2019,2.138261,2.814511,3/11/2016,25,33,39,17
194,194,2250,2256.0,2016-07-30,2017-10-25,1.149738,2018 7 6,12/19/2018,7/3/2019,1.932923,2.387406,7/30/2016,23,28,35,14
195,195,2252,2269.0,2016-07-28,2017-09-13,1.108450,2018 3 12,8/10/2018,1/29/2019,1.678303,2.034223,7/28/2016,19,24,30,13
196,196,2256,2274.0,2016-06-11,2017-08-24,1.169431,2018 2 22,8/10/2018,2/8/2019,1.809719,2.162902,6/11/2016,20,25,31,14
197,197,2269,2288.0,2016-05-17,2017-09-27,1.283015,2018 4 26,10/19/2018,4/2/2019,1.954825,2.422998,5/17/2016,23,29,34,16
198,198,2274,2290.0,2016-08-25,2017-11-15,1.175274,2018 5 9,10/12/2018,4/18/2019,1.702943,2.130048,8/25/2016,20,25,31,14
199,199,2288,2292.0,2016-09-12,2017-12-02,1.110736,2001 1 1,1/1/2001,1/1/2001,NaN,NaN,9/12/2016,999,999,999,14
200,200,2290,2306.0,2016-07-27,2017-10-05,1.166298,2001 1 1,1/1/2001,1/1/2001,NaN,NaN,7/27/2016,999,999,999,14
201,201,2292,2322.0,2016-06-18,2017-11-17,1.274801,2018 6 22,12/11/2018,6/4/2019,2.009582,2.480493,6/18/2016,24,29,35,16
202,202,2306,2333.0,2016-08-24,2017-10-24,1.116693,2001 1 1,12/8/2018,5/25/2019,NaN,2.288843,8/24/2016,999,27,33,14
203,203,2322,2335.0,2016-05-26,2017-11-18,1.422223,2018 6 30,12/20/2018,6/18/2019,2.094456,2.568104,5/26/2016,25,30,36,17
204,204,2333,NaN,2016-06-14,2017-12-05,1.382848,2018 5 29,12/28/2018,5/8/2019,1.954825,2.537988,6/14/2016,23,30,34,17
205,205,2335,NaN,2016-09-27,2017-11-30,1.097038,2018 6 28,1/6/2019,7/16/2019,1.749487,2.275154,9/27/2016,21,27,33,14